#!/bin/bash -x

set -xe

mkdir -p {{ tmp }}
chmod -R 777 {{ tmp }}

{% if install %}
apt-get update -q
apt-get install -yq {{ packages | join(" ") }}
{% endif %}

chmod -R 777 {{ tmp }}

# [ -f {{ torrent_file }} ] || wget {{ torrent_url }} -O {{ torrent_file }}
# [ -f {{ iso_src_file }} ] || aria2c {{ torrent_file }} --seed-time=0
[ -f {{ iso_src_file }} ] || cp /app/{{ iso_src_file }} {{ tmp }}/

chmod -R 777 {{ tmp }}

mkdir -p {{ destination }}
xorriso -osirrox on -indev {{ iso_src_file }} -extract / {{ destination }}
chmod +w -R {{ destination }}/install.amd/

chmod -R 777 {{ tmp }}

gunzip {{ destination }}/install.amd/initrd.gz
echo preseed.cfg | /app/cpio -H newc -o -A -F {{ destination }}/install.amd/initrd
gzip {{ destination }}/install.amd/initrd

# mv {{ destination }}/boot/grub/grub.cfg {{ destination }}/boot/grub/grub.cfg.orig
# echo 'set default=0' > {{ destination }}/boot/grub/grub.cfg
# echo 'set timeout=2' >> {{ destination }}/boot/grub/grub.cfg
# cat {{ destination }}/boot/grub/grub.cfg.orig >> {{ destination }}/boot/grub/grub.cfg

# for dest in $(find {{ destination }} -name grub.cfg); do rm ${dest}; done;

# for dest in $(find {{ destination }} -name grub.cfg); do
# set default=0

cat << EOF > {{ destination }}/boot/grub/grub.cfg
set timeout=5
menuentry 'Install' {
  linux /install.amd/vmlinuz vga=788 auto=true priority=critical
  initrd /install.amd/initrd.gz
}
EOF

cat << EOF > {{ destination }}/boot/grub/x86_64-efi/grub.cfg
set timeout=5
menuentry 'Install' {
  linux /install.amd/vmlinuz vga=788 auto=true priority=critical
  initrd /install.amd/initrd.gz
}
EOF
# cat ${dest}
# done;



chmod -R 777 {{ tmp }}

chmod -w -R {{ destination }}/install.amd/ || echo 1
cd {{ destination }} && (md5sum $(find -follow -type f) > md5sum.txt || echo 1) && cd ..
genisoimage -r -J -b isolinux/isolinux.bin -c isolinux/boot.cat -no-emul-boot -boot-load-size 4 -boot-info-table -o {{ tmp }}/{{ output_filename }} {{ destination }}

chmod -R 777 {{ tmp }}

cp {{ destination }}/install.amd/initrd.gz {{ tmp }}
cp {{ destination }}/install.amd/vmlinuz {{ tmp }}

chmod -R 777 {{ tmp }}


