d-i debian-installer/locale string {{ locale }}
d-i keyboard-configuration/xkb-keymap select {{ keymap }}
d-i keymap select {{ keymap }}

d-i netcfg/choose_interface select auto
d-i netcfg/wireless_wep string

d-i mirror/country string manual
d-i mirror/http/hostname string {{ mirror }}
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

{% if root["create"] %}
d-i passwd/root-login boolean true
d-i passwd/root-password password {{ root['password'] }}
d-i passwd/root-password-again password {{ root['password'] }}
{% else %}
d-i passwd/root-login boolean false
{% endif %}
#d-i passwd/root-password-crypted password $6$1LCVFshS/kbYVg$M1QS1ZJ3.E7NkAD8sqkqhqExA2HWQ5/iDE.l23Xbr89Z7hTg/jUuBMyrYzANLmRybYcH8Smcy.yGDKMAX3okd0

{% if user["create"] %}
d-i passwd/make-user boolean True
d-i passwd/user-fullname string {{ user['fullname'] }}
d-i passwd/username string pin
d-i passwd/user-password password {{ user['password'] }}
d-i passwd/user-password-again password {{ user['password'] }}
# d-i passwd/user-password-crypted password $6$dU9we2Mm$Btq1Tk1WkFx3/8YsXWbZr13m56uv0PabJKxk5teKAImLLQhtniOURXuOVLmbiBl0O3iS6xQBctNIc9Dn5b3vR.
{% else %}
d-i passwd/make-user boolean false
{% endif %}

{% if clock['utc'] %}
d-i clock-setup/utc boolean true
{% else %}
d-i clock-setup/utc boolean false
{% endif %}

d-i time/zone string {{ clock['zone'] }}

{% if clock['ntp']['enabled'] %}
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string {{ clock['ntp']['server'] }}
{% else %}
d-i clock-setup/ntp boolean false
{% endif %}

{% if partman['remove']['lvm'] %}
d-i partman-lvm/device_remove_lvm boolean true
{% else %}
d-i partman-lvm/device_remove_lvm boolean false
{% endif %}

{% if partman['remove']['md'] %}
d-i partman-lvm/device_remove_md boolean true
{% else %}
d-i partman-lvm/device_remove_md boolean false
{% endif %}

d-i partman-auto/method string {{ partman['method'] }}
d-i partman-auto/choose_recipe select {{ partman['remove'] }}
# d-i partman-auto/expert_recipe string {{ partman['expert_recipe'] }}

{% if partman['noswap'] %}
d-i partman-basicfilesystems/no_swap boolean true
{% else %}
d-i partman-basicfilesystems/no_swap boolean false
{% endif %}

{% if partman['auto'] %}
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
{% else %}
d-i partman-lvm/confirm boolean false
d-i partman-lvm/confirm_nooverwrite boolean false
d-i partman-md/confirm boolean false
d-i partman-partitioning/confirm_write_new_label boolean false
d-i partman/choose_partition select finish
d-i partman/confirm boolean false
d-i partman/confirm_nooverwrite boolean false
{% endif %}

d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false   
d-i apt-setup/cdrom/set-failed boolean false

d-i pkgsel/upgrade select {{ apt['upgrade'] }}
d-i pkgsel/install-recommends boolean {{ apt['recommends'] }}
d-i pkgsel/include/install-recommends boolean {{ apt['recommends'] }}
pkgsel pkgsel/include/install-recommends boolean {{ apt['recommends'] }}
tasksel tasksel/first multiselect
d-i apt-setup/non-free boolean {{ apt['non_free'] }}
d-i apt-setup/contrib boolean {{ apt['contrib'] }}
d-i apt-setup/use_mirror boolean {{ apt['use_mirror'] }}
d-i apt-setup/services-select multiselect {{ apt['services_select'] | join(', ') }}
d-i apt-setup/security_host string {{ apt['security_host'] }}

d-i pkgsel/include string {{ apt['include'] | join(' ') }}

{% if apt['popularity_participate'] %}
popularity-contest popularity-contest/participate boolean false
{% else %}
popularity-contest popularity-contest/participate boolean false
{% endif %}

{% if grub['only_debian'] %}
d-i grub-installer/only_debian boolean true
{% else %}
d-i grub-installer/only_debian boolean true
{% endif %}

d-i grub-installer/bootdev string {{ grub["bootdev"] }}

d-i preseed/late_command string {{ commands["late"] }}

d-i finish-install/reboot_in_progress {{ reboot }}

{% if poweroff %}
d-i debian-installer/exit/poweroff boolean true
{% else %}
d-i debian-installer/exit/poweroff boolean false
{% endif %}
